#page {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 60px;
}

body {
  background: #333;
  color: #eee;
}

a {
  text-decoration: none;
  color: white;
}

a.twitter {
  color: #1da1f2;
}

a:hover {
  text-decoration: underline;
}

ul {
  list-style: none;
}

nav {
  display: block;
}
